.too-short-or-too-long {
    color: black;
}

.text.margin-2 {
    margin: 2em 0;
}
  
  
.text.margin-1 {
    margin-top: 1em;
}

.error-msg {
    background-color: hsla(4, 90%, 58%, 0.766);
    padding: 0.5em;
    color: white;
}
